<h1 class="light-text display-2"
    style="text-shadow: 2px 2px 5px #0d0c0f; border-bottom: 25px solid rgba(213, 217, 219, 0.87); text-align: center; margin-bottom: 0;">
    Ways That You Can Help</h1>

<ul class="light-text help-list">
    <li>
        <h2>Conserve Water</h2>
        <ul>
            <li>Use less water so excess runoff and wastewater will not flow into the ocean.</li>
        </ul>
    </li>
    <li>
        <h2>Reduce Pollutants</h2>
        <ul>
            <li>Choose nontoxic chemicals and dispose of herbicides, pesticides, and cleaning products properly.</li>
        </ul>
    </li>
    <li>
        <h2>Reduce Waste</h2>
        <ul>
            <li>Cut down on what you throw away.</li>
        </ul>
    </li>
    <li>
        <h2>Shop Wisely</h2>
        <ul>
            <li>Choose sustainable seafood. Buy less plastic and bring a reusable bag.</li>
        </ul>
    </li>
    <li>
        <h2>Reduce Vehicle Pollution</h2>
        <ul>
            <li>Use fuel efficient vehicles, carpool or ride a bike.</li>
        </ul>
    </li>
    <li>
        <h2>Use Less Energy</h2>
        <ul>
            <li>Choose energy efficient light bulbs and don't overset your thermostat.</li>
        </ul>
    </li>
    <li>
        <h2>Fish Responsibly</h2>
        <ul>
            <li>Follow "catch and release" practices and keep more fish alive.</li>
        </ul>
    </li>
    <li>
        <h2>Practice Safe Boating</h2>
        <ul>
            <li>Anchor in sandy areas far from coral and sea grasses. Adhere to "no wake" zones.</li>
        </ul>
    </li>
    <li>
        <h2>Respect Habitat</h2>
        <ul>
            <li>Healthy habitat and survival go hand in hand. Treat with care.</li>
        </ul>
    </li>
    <li>
        <h2>Volunteer</h2>
        <ul>
            <li>Volunteer for cleanups at the beach and in your community. You can get involved in protecting your
                watershed too!</li>
        </ul>
    </li>

</ul>
<br>
<div style=" text-align:center;" ;>
    <button><a href="/images/help-ocean.jpg" download="help-ocean.jpg" style=" margin:auto;">Download
            infograph</a></button>
</div>

<div style="height:746px;width:1000px;border:1px solid #ccc;overflow:auto; margin:auto;">
    <img src="/images/help-ocean.jpg" alt="" id="info"></div>
</div>


<form action=" http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="get"
    class="light-text" style="text-align: center;">Enter your email for more info(not really):
    <input type="email" name="email" id="email">
    <input type="submit" value="Submit">
</form>
<br>