<div class="row align-items-center content">
    <div class="col-md-6 order-2 order-md-1">
        <img src="/images/fish1.jpg" class="img-fluid main-fish img-shadow" alt="">
        <!-- https://unsplash.com/photos/UcgKATDO6QI -->
    </div>
    <div class="col-md-6 text-center order-1 order-md-2">
        <div class="row justify-content-center">
            <div class="col-10  col-lg-8 blurb mb-5 mb-md-0 light-text ">
                <div class="shadow title-card">
                    <h1 class="display-4">Why the Ocean Matters</h1>
                </div>

                <p class="lead">Covering 72 percent of the Earth and supplying half its oxygen, the ocean is our
                    planet's life support system—and it’s in danger.With every breath we take, every drop we drink,
                    we're connected to the ocean. Our planet depends on the vitality of the ocean to support and sustain
                    it. But our ocean faces major threats: global climate change, pollution, habitat destruction,
                    invasive species, and a dramatic decrease in ocean fish stocks. These threats to the ocean are so
                    extensive that more than 40 percent of the ocean has been severely affected and no area has been
                    left untouched. Consequently, humanity is losing the food, jobs, and critical environmental services
                    that a healthy ocean generates. National Geographic Society's Ocean Initiative aims to restore
                    health and productivity to the ocean by inspiring people to care and act, reducing the impact of
                    fishing, and promoting the creation of marine protected areas.</p>
            </div>
            <!--https://www.nationalgeographic.org/media/why-ocean-matters/-->
        </div>
    </div>
</div>
<div class="row align-items-center content">
    <div class="col-md-6 order-2">
        <img src="/images/fish2.jpg" alt="" class="img-fluid img-shadow">
        <!-- https://unsplash.com/photos/Abj_zUko6Mg-->
    </div>
    <div class="col-md-6 text-center order-1">
        <div class="row justify-content-center">
            <div class="col-10  col-lg-8 blurb mb-5 mb-md-0 light-text">
                <h1 class="display-4 shadow title-card ">Why Should I Care?</h1>
                <p class="lead">The ocean is the largest ecosystem on Earth, and it is the planet’s life support system.
                    The ocean is essential for all life on Earth, including humans. To ensure a sustainable future, we
                    must protect and preserve healthy marine ecosystems.For far too long, people assumed that the ocean
                    was limitless and immune to human impacts.
                    Only recently, scientists have come to understand the devastating impact and continued threat of
                    human activities. Overfishing, climate change, pollution, habitat destruction, invasive species, and
                    other forms of human exploitation have put our ocean at risk. No area has been left untouched.</p>
                <!--https://marine-conservation.org/why-protect-the-ocean/-->
            </div>
        </div>
    </div>
</div>

<div class="row align-items-center content">
    <div class="col-md-6 order-2 order-md-1">
        <img src="/images/diver1.jpg" class="img-fluid main-fish img-shadow" alt="">
        <!-- https://unsplash.com/photos/UcgKATDO6QI -->
    </div>
    <div class="col-md-6 text-center order-1 order-md-2">
        <div class="row justify-content-center">
            <div class="col-10  col-lg-8 blurb mb-5 mb-md-0 light-text ">
                <h1 class="display-4 shadow title-card">It's Where Life Started!</h1>
                <p class="lead">
                    Scientists are exploring several possible locations for the origin of life, including tide pools and
                    hot springs. However, recently some scientists have narrowed in on the hypothesis that life
                    originated near a deep sea hydrothermal vent. The chemicals found in these vents and the energy they
                    provide could have fueled many of the chemical reactions necessary for the evolution of life.
                    Furthermore, using the DNA sequences of modern organisms, biologists have tentatively traced the
                    most recent common ancestor of all life to an aquatic microorganism that lived in extremely high
                    temperatures — a likely candidate for a hydrothermal vent inhabitant! Although several lines of
                    evidence are consistent with the hypothesis that life began near deep sea vents, it is far from
                    certain: the investigation continues and may eventually point towards a different site for the
                    origin of life.!</p>
                <!-- https://evolution.berkeley.edu/evolibrary/article/0_0_0/origsoflife_03 -->
            </div>
        </div>
    </div>
</div>