<button type="submit" id="generate">Generate random pic!(This takes a while...)</button>
<button><a href="" download="ocean" id="download">Download</a></button>
<script src="/js/random_img.js"></script>


<div class="frame">
    <a href="" id="img-link">
        <img src="" alt="" id="random-img" class="image-fluid frame">
    </a>
</div>